<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect requests to flipbooks subdirectories to index.html
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^flipbooks/(.+)/?$ flipbooks/$1/index.html [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Laravel's default routing
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
